RewriteEngine On
RewriteRule ^de/(.*)$ handler.php?input=de/$1 [L]
RewriteRule ^en/(.*)$ handler.php?input=en/$1 [L]
ErrorDocument 404 handler.php?input=en/overview/error404.html
ErrorDocument 403 handler.php?input=en/overview/index.html